.card {
     box-shadow: 0 0 20px #db679b !important;
     background-color: #e0cad4 !important;
     border: none !important;
}

i:hover {
     cursor: pointer;
}

input {
     outline: none !important;
}

li {
     background-color: #eddde4 !important;
}

.contact-profile {
     height: 250px;
     width: 100%;
}

@media screen and (min-width: 576px) {
     .contact-profile {
          width: 70%;
     }
}

@media screen and (min-width: 768px) and (max-width: 991px) {
     .contact-profile {
          width: 60%;
          height: 300px;
     }
}

@media screen and (min-width: 1200px) {
     .contact-profile {
          height: 200px;
          width: 100%;
     }
}

